nav {
  width: 25%;
  float: left;
  background-color: #FFFAF3;
}
#mainContent {
  width: 50%;
  float: left;
  margin: 3px;
  border-right-style: solid;
  border-right-color: #52647B
  border-right-width: 5px;
  border-left-style: solid;
  border-left-color: #52647B;
  border-left-width: 5px;
  padding: 5px;
}
#rightSidebar {
  width: 20%;
  float: left;
  background-color: #FFFAF3;
  padding: 5px;
}
header {
  background-color: #52637B;
  text-align: center;
  color: white;
}
#image1 {
  float: right;
}
